<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <meta property="og:title" content="나만의 항해 블로그"/>
    <meta property="og:description" content="항해99 spring PJ"/>
    <meta property="og:image" content="images/og_img.jpg"/>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <link rel="stylesheet" href="/css/main.css">
    <!--===============================================================================================-->

    <title>항해99 블로그</title>

</head>
<body>
<div class="limiter">
    <div class="container-table100">
        <div>
            <img id="banner" src="/images/banner_img.png" alt="">
        </div>
        <div id="user-btn">
            <div sec:authorize="isAuthenticated()" id="login-win">
                <div id="header-title-login-user">
                    <span th:text="${user}"></span>님 환영합니다😃
                </div>
                <form id="my_form" method="post" action="/user/logout">
                    <button class="button" onclick="document.getElementById('my_form').submit();">로그아웃</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()" id="logout-win" >
                <div>
                    <a href="/user/login"><button class="button" id="login-btn">로그인</button></a>
                </div>
                <div>
                    <a href="/user/signup"><button class="button" id="signup-btn">회원가입</button></a>
                </div>
            </div>
        </div>

        <div class="content-container">

            <h2 class="title"><span th:text="${posting.title}"></span></h2>
<!--            <br>-->
            <div class="bar">
                <h5 class="subtitle is-5" style="display: block;"><label>작성자 : </label><span th:text="${posting.user.username}"></span></h5>
                <button th:if="${posting.user.username} == ${user}"
                        th:onclick="deleteOne([[${posting.id}]])"
                        style="display: block;"
                        id="posting_delete"
                        class="button is-danger">삭제
                </button>
            </div>

            <div class="box">
                <p th:text="${posting.contents}"></p>
            </div>
            <div>
                <button class="button" id="close-button" onclick="location.href='/'">닫기</button>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="comment-container">
            <!-- 댓글 창-->
            <form th:action="@{/api/postings/}+${posting.id}+@{/comment}" onsubmit="return check1()" method="post"
                  th:object="${postcomment}">
                <h5 class="subtitle is-5">댓글 남기기</h5>
                <br>
                <!-- 댓글 작성하기-->
                <div class="input-comment">
                    <input class="input is-success" type="text" th:field="*{comment}" placeholder="댓글을 남겨주세요">
                    <button type="submit" class="button is-success">등록</button>
                </div>
            </form>
            <br>

            <!--댓글 목록-->
            <div class="box" th:each="comment : ${comment}">
                <p th:text="${comment.user.username}"></p>
                <br>
                <p th:id="${comment.id}+commnet" th:text="${comment.comment}"></p>

                <!-- 수정 버튼-->
                <div class="edit-btn">
                    <button class="button is-warning is-light is-small"
                            th:if="${comment.user.username} == ${user}"
                            th:id="${comment.id}+editComment"
                            th:onclick="editComment([[${comment.id}]])"
                            style="display: block;">수정
                    </button>


                    <!--댓글 삭제-->
                    <button class="button is-danger is-light is-small"
                            th:if="${comment.user.username} == ${user}"
                            th:id="${comment.id}+removeComment"
                            th:onclick="deleteComment([[${posting.id}]],[[${comment.id}]])"
                            style="display: block; margin-left: 15px">삭제
                    </button>
                </div>

                <!--댓글 수정-->
                <div class="edit">

                    <input class="input is-success" type="text"
                           th:id="${comment.id}+editinput"
                           style="display:none;">
                    <button class="button is-warning is-light is-small"
                            th:id="${comment.id}+submit"
                            th:onclick="editText([[${posting.id}]],[[${comment.id}]])"
                            style="display:none; margin-left: 10px"> 수정 완료 </button>


                    <button class="button is-danger is-light is-small" th:id="${comment.id}+cancle"
                            th:onclick="returnComment([[${comment.id}]])" style="display: none; margin-left: 10px">취소
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    // 포스팅 삭제
    function deleteOne(id) {
        $.ajax({
            type: "DELETE",
            url: `/api/postings/${id}`,
            success: function (response) {
                console.log(response)
                alert('삭제되었습니다.');
                window.location.replace("/");
            }
        })
    }

    //수정 버튼 누르면
    function editComment(id) {
        // $(`#${id}editdiv`).show();
        $(`#${id}editinput`).show();  //comment 수정 input
        $(`#${id}submit`).show();  //수정완료버튼
        $(`#${id}cancle`).show();  //취소버튼
        $(`#${id}comment`).hide();  //commet입력 input
        $(`#${id}removeComment`).hide();  //삭제버튼
        $(`#${id}editComment`).hide();  //수정 버튼

        // // 수정 input -> comment input 변경
        // let comment = $(`#${id}comment`).text();
        // $(`#${id}editinput`).val(comment);
    }

    //수정 취소하면
    function returnComment(id) {
        // $(`#${id}editdiv`).hide();
        $(`#${id}editinput`).hide();  //comment 수정 input
        $(`#${id}submit`).hide();  //수정완료 버튼
        $(`#${id}cancle`).hide();  //취소버튼
        $(`#${id}comment`).show();  // comment입력 input
        $(`#${id}editComment`).show(); //수정 버튼
        $(`#${id}removeComment`).show();  //삭제 버튼

    }


    // comment 삭제
    function deleteComment(id, commentId) {
        $.ajax({
            type: "DELETE",
            url: `/api/postings/${id}/comment/${commentId}`,
            success: function (response) {
                console.log(response)
                alert('삭제되었습니다.');
                window.location.reload();
            }
        })
    }



    // comment 수정
    function editText(id, commentId) {
        // /api/postings/{id}/comment/{commentId}

        // private String comment;
        // private User user;
        // private Posting posting;
        let comment = $(`#${commentId}editinput`).val();
        let data = {'comment': comment};
        console.log(data)

        $.ajax({
            type: 'PUT',
            url: `/api/postings/${id}/comment/${commentId}`,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                console.log(response)
                console.log(commentId)
                window.location.reload();
            }
        })
    }


    //comment input check
    function check1() {
        let comment = document.getElementById('comment').value;
        let user = /*[[ ${user} ]]*/null;
        if (comment === "") {
            alert("댓글을 입력해주세요.");
            return false;
        }
        if (user == 'null') {
            alert("로그인 후 이용해주세요.")
            window.location.replace("/user/login")
            return false
        }
    }

    // comment edit check
    function check2(id){

        let editcomment =document.getElementById(id+'editinput').value;
        if(editcomment === ""){
            alert("댓글을 입력해주세요.");
            return false;
        }
        return true;
    }

</script>

</body>
</html>